

# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""

# NextAuth.js
# Cambiar solo en producción por la URL del sitio en producción
NEXTAUTH_URL="http://localhost:3000/"
# Puedes obtenerlo facilmente en: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=""

# GitHub Auth Provider
# https://next-auth.js.org/providers/github
# https://github.com/settings/developers
# The Authorization callback URL for DEV is: http://localhost:3000/api/auth/callback/github
GITHUB_ID=""
GITHUB_SECRET=""
